<!DOCUTYPE html>
<html>
  <head>
    <div class="header">
      <h2><%= link_to 'ホーム', root_path %></h2>
      <h2><%= link_to 'アカウント', user_path(current_user.id) %></h2>
      <h2><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></h2>
    </div>
  </head>
  <body>
    <p><%= @task.title %></P>
    <p><%= @task.body %></P>
    <p><%= @task.deadline %></P>
    <p><%= @task.schedule.name_i18n %></P>
    <p><%= @task.category_i18n %></P>
    <p><%= @task.status_i18n %></P>
      <div class='task_edit'>
        <p><%= link_to '編集', edit_task_path(@task) %></P>
      </div>
      <div class='task_delete'>
        <p>
        <%= link_to '削除',
            task_path(@task),
            method: :delete,
            data: { confirm: '削除してもよろしいでしょうか？' } %>
        </P>
      </div>
  </body>
</html>